.mega-bloco-principal{
    display: flex;
    padding: 30px 0px;
    border-bottom: 1px solid #ddd;
    background-color: yellow;
}

.mega-bloco-direita{
    margin-left: 50px;
    background-color: aqua;
}

.mega-bloco-loteria{
    display: flex;
}

.mega-nome-loteria{
    font-size: 28px;
    font-weight: bold;
    color: #209869;
    margin-left: 10px;
}